<ul id="centre">
    <li>Name:{{model.name}}</li>
    <li>Male Capacity:{{model.male_capacity}}</li>
    <li>Female Capacity:{{model.female_capacity}}</li>
    <li>Male in use:{{model.male_in_use}}</li>
    <li>Female in use:{{model.female_in_use}}</li>
    <li>Male out of commission:{{model.male_out_of_commission}}</li>
    <li>Female out of commission:{{model.male_out_of_commission}}</li>
</ul>